@import url('../../../node_modules/augmented-ui/augmented-ui.min.css');

.Main{
    margin: 0px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--SpaceAge);
}
.Left{
    width: 35%;
}
.Right{
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Level{
    display: flex;
    margin:5%;
}

.Span{
    color: white;
    color:rgb(61, 126, 247);
    margin-right: 5px;
    font: 80px;
    font-weight: 600;
}
.Para{
    margin-right:5px;
}
.Img{
    margin-right: 5px;
    margin-left: 10px;

}

  
.reticle {
    margin-top: 25%;
    align-items: center;
    margin-left: 5%;
    --aug-all-width: 170px;
    color: #00bfff;
    --reticle-color: currentColor;
    --reticle-size: calc(var(--aug-all-width) * 0.25);
    --aug-border-bg: radial-gradient(
        circle at top center,
        var(--reticle-color) var(--reticle-size),
        transparent var(--reticle-size)
      ),
      radial-gradient(
        circle at bottom 13.92% right 6.89%,
        var(--reticle-color) var(--reticle-size),
        transparent var(--reticle-size)
      ),
      radial-gradient(
        circle at bottom 13.92% left 6.89%,
        var(--reticle-color) var(--reticle-size),
        transparent var(--reticle-size)
      );
    transform-origin: 50% 56%;
    transform: rotateZ(0deg);
    transition: transform 0.75s ease-out, color 0.75s ease-out;
    background: rgba(102, 51, 153, 0.25);
  }

.listContainer {
  position: relative;
  width: 230px;
  filter: drop-shadow(0px 0px 3px rgba(52, 52, 198, 0.25));
  margin-top: 5%;
  color: #00bfff;
  padding: 10px 10px;
}
.listItem{
    padding: 2px;
    color: white;
}
.list{
    padding: 10px;
}
.writer{
  display: inline-block;
}

.broch {
  display: inline-block;
  padding: 14px 24px;
  background: black;
  --aug-border-all: 2px;
  --aug-border-bg: linear-gradient(to right, #FF2B7E, #02C2FF);
  --aug-bl: 12px;
  --aug-tr: 12px;
  margin: 20px;
  transform: translateZ(0px);
}
.borch span {
  font-family: sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.25em;
  display: inline-block;
  background: linear-gradient(180deg, #FF2B7E, #02C2FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.Download{
  width: 20px;
  height: 20px;
}
.Story{
  padding: 10px 20px;
  font-size: 12px;
  justify-content: center;
}
.title{
  font-size: 20px;
}
.landing {
  margin-top: 20%;
  width: 300px;
aspect-ratio: 1 / 1;
--aug-border: initial;
--aug-border-bg: linear-gradient(
  to bottom right,
  rgb(0, 72, 255),
  rgb(0, 85, 128)
);
--aug-border-all: 5px;
--aug-clip-tl1: initial;
--aug-round-tr1: initial;
--aug-clip-br1: initial;
--aug-clip-bl1: initial;
--aug-tl1: 20px;
--aug-tr1: 20px;
--aug-br1: 20px;
--aug-bl1: 20px;
}
.arrow{
   width: 70px;
   height: 70px;
   padding-left: 5px;
  
}